:root {
  font-family: 'Inclusive Sans', sans-serif;
  font-size:1rem;
  line-height: 1.75;
  color: #292928;
  background-color: #FFFFFF;
}
b {
  font-weight: 600;
}
p {
  text-align: left;
  margin: 0;
  padding: 0;
}
.sectionBox {
  background-color: #EDE8DA;
  border-radius: 1rem;
  padding:5rem 3rem;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 61rem) {
  .twoColumns {
    flex-direction: column;
  }
}
@media only screen and (min-width:62rem) {
  .twoColumns {
    flex-direction: row;
    gap: 4rem;
  }
}
.left {
  place-items: start;
}
.center {
  place-items: center;
}
.iconButton {
  display: flex;
  background-color: #C9D468;
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  border-width: 0;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  .icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.iconButton:hover {
  background-color: #859024;
}
.title {
  font-family: 'Inclusive Sans', sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  text-align: left;
  line-height: 1.25;
  width: 100%;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.buttonRow {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  gap: 1rem;
}
@media only screen and (max-width: 700px) {
  .container {
    margin: 0rem;
  }
}
.heroShotContainer {
  width: 100%;
}
.heroShot {
  margin-left: auto;
  margin-right: auto;
  max-height: 40vh;
  border-radius: 1rem;
}
.subTitle {
  font-family: 'Inclusive Sans', sans-serif;
  font-weight: normal;
  text-align: left;
  font-size: 1.375rem;
  line-height: 1.5;
}
.centerText {
  text-align: center !important;
}
